<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <webSocket enabled="false" />

    <rewrite>
      <rules>
        <!-- Rule 1: Force HTTPS -->
        <rule name="Force HTTPS" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Rule 2: Reverse proxy to Node.js on 127.0.0.1:5000 -->
        <rule name="ReverseProxy" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_URI}" pattern="^/\.well-known/" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://127.0.0.1:5000/{R:1}" />
        </rule>
      </rules>

      <outboundRules>
        <rule name="Rewrite Location Header" preCondition="IsRedirect">
          <match serverVariable="RESPONSE_LOCATION" pattern="http://127\.0\.0\.1:5000/(.*)" />
          <action type="Rewrite" value="/{R:1}" />
        </rule>
        <preConditions>
          <preCondition name="IsRedirect">
            <add input="{RESPONSE_STATUS}" pattern="3\d\d" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>

    <security>
      <requestFiltering>
        <!-- Allow IIS to access the .well-known hidden segment -->
        <hiddenSegments>
          <remove segment=".well-known" />
        </hiddenSegments>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>

    <httpErrors existingResponse="PassThrough" />

  </system.webServer>
</configuration>